.fondoDeColorMorado {
  background-color: blueviolet;
}
.fondoDeColorRosa {
  background-color: rgb(236, 12, 207);
}
.fondoDeColorMarron {
  background-color: rgb(138, 92, 31);
}
.fondoDeColorTierra {
  background-color: #ab9842;
}
